.card-header[data-v-7541af6e]{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-bottom:12px;min-height:32px}.card-title[data-v-7541af6e]{display:flex;gap:8px;align-items:baseline}
