.about-subsection[data-v-732b06e1]{border-top:1px solid #e0e4ea;padding-top:20px}[data-v-732b06e1] .about-section .about-section-content{display:block!important}[data-v-732b06e1] .about-section .about-section-content h3{color:#000933}
